$color-primary: #5fb4a2;
$color-secondary: #203a4c;
$color-dark: #33323d;
$color-light: #fafafa;
$color-light-gray: #eaeaeb;
$color-red: #f43030;


.custom-container-fluid {
  padding: 0 32px;
  width: 100%;
  @media (min-width: 768px) {
    padding: 0 39px;
  }
  @media (min-width: 1200px) {
    padding: 0 32px;
  }
}
